body {
  background-image: url("./assets/background-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px;
}

.todo-box {
  border: 3px solid #e6e6e6;
}

.todo-box:not(:last-child){
  margin-bottom: 5rem;
}

.heading {
  font-size: 2.8rem;
  padding: 1rem 2rem;
  background-color: #d6d6d6;
}

.todo-body {
  padding: 2rem;
  background-color: #fff;
}

.todo-new {
  display: flex;
  margin-bottom: 2rem;
}

.todo-input {
  flex: 1;
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #e6e6e6;
  border-radius: .5rem 0 0 .5rem;
}

.btn {
  padding: 1rem 1.5rem;
  font-size: 1.8rem;
  border: none;
}

.btn-primary {
  color: #fff;
  background-color: #007BFF;
}

.btn-danger {
  color: #fff;
  background-color: #DC3545;
}

.btn-secondary {
  color: #fff;
  background-color: #28A745;
}

.todo-tasks {
  border: 2px solid #e6e6e6;
  border-radius: .5rem;
}

/* Todo Item */
.todo-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  transition: all .2s;
}

.todo-item:not(:last-child) {
  border-bottom: 2px solid #e6e6e6;
}

.todo-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, .05);
}

.todo-item:hover {
  background-color: rgba(0, 0, 0, .1);
}

.todo-item button {
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  vertical-align: middle;
}

.todo-checkbox {
  width: 1.8rem;
  height: 1.8rem;
}

.todo-checkbox:hover {
  cursor: pointer;
}

.todo-content {
  flex: 1;
  font-size: 1.8rem;
  margin-left: 1.5rem;
}

.todo-actions {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}

.todo-item:hover .todo-actions {
  visibility: visible;
  opacity: 1;
}

.small-icon {
  width: 1.6rem;
  height: 1.6rem;
}

.medium-icon {
  width: 2rem;
  height: 2rem;
}

.rounded {
  border-radius: .5rem;
}

.mr-small {
  margin-right: 1rem;
}

/* Popup Edit */
.popup-edit{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .6);
}

.popup-content{
  position: absolute;
  top: 30%;
  left: 50%;
  width: 800px;
  max-width: 80%;
  transform: translate(-50%, -50%);
  border: 1px solid #e6e6e6;
  border-radius: 2rem;
  overflow: hidden;
}

.popup-header{
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #000;
}

.heading-secondary{
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  flex: 1;
}

.btn-close {
  background-color: #fff;
  padding: .5rem;
  border: none;
}

.close-icon {
  width: 3rem;
  height: 3rem;
  transition: all .2s;
}

.close-icon:hover {
  transform: scale(1.2);
}

.popup-body{
  background-color: #fff;
  padding: 2rem;
  text-align: center;
}

.todo-text{
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  border: 2px solid #e6e6e6;
  border-radius: .5rem 0 0 .5rem;
  margin-bottom: 2rem;
  resize: none;
}

